$background-color: #151517;
$content-color: #2C2C2E;
$text-color: #FFFFFF;

$primary-color: #D3CAFA;
$secondary-color: #ffffff;
$tertiary-color: #000000;
$success-color: #B8F8D6;

$category-65786415b5cab38bd49c4ea0: #98DDF2;
$category-65786453b5cab38bd49c4ea3: #F0B5E9;
$category-6578643ab5cab38bd49c4ea1: #F3E49A;

$viewport-padding-horizontal: 4vw;
$viewport-padding-vertical: calc($viewport-padding-horizontal*2);
$content-padding: calc($viewport-padding-horizontal*1.5);

$content-gap: 3vh;
$navbar-height: 20vw;